services:
  backend:
    build: ./backend
    container_name: backend
    restart: unless-stopped
    ports:
      - '3000:3000'
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/usr/src/app:cached
      - /usr/src/app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - db
      - redis
    networks:
      - HN
    command: npm run start:dev

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - '5173:5173'
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - VITE_WATCH_POLLING=true
    networks:
      - HN
    stdin_open: true
    tty: true

  db:
    image: postgres:latest
    container_name: postgres_db
    restart: always
    env_file:
      - ./.env
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql
    networks:
      - HN

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - ./redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  db_data:
  redis_data:

networks:
  HN: