.register-form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 200px auto;
  border: 1px solid var(--gray-color);
  border-radius: var(--border-radius-small);

  &__title {
    font-size: 20px;
    color: var(--orange-color);
    text-align: center;
  }

  &__fields {
    padding: 10px 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }

  &__links {
    padding: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &__link {
    font-size: 14px;
    cursor: pointer;
    text-align: center;
  }
}