*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input, select, textarea {
  outline: none;
  border: none;
}

a,
a:active,
a:hover,
a:visited,
a:focus {
  outline: none;
  text-decoration: none;
}